@using NbuReservationSystem.Web.App_GlobalResources.Labels
@model NbuReservationSystem.Web.Models.Requests.Account.ResetPasswordViewModel
@{
    ViewBag.Title = AccountLabels.ResetPassword;
}

<div class="container">
    <div class="row">
        <div class="col-md-28">
            <h2 class="text-center">@AccountLabels.ResetPassword</h2>
            <hr />

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Code)

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, AccountLabels.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, AccountLabels.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, AccountLabels.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                    </div>
                </div>

                // TODO: Add token!

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="reset" class="btn btn-default" value="@ButtonsLabels.Clear" />
                        <input type="submit" class="btn btn-default" value="@ButtonsLabels.Submit" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>