@using NbuReservationSystem.Web.App_GlobalResources.Labels
@model NbuReservationSystem.Web.Models.Requests.Halls.HallViewModel
@{
    ViewBag.Title = HallsLabels.NewHall;
}

<div class="container">
    <div class="row">
        <div class="col-md-28">
            <div class="row text-center">
                <h1>@HallsLabels.NewHall</h1>
            </div>

            @Html.ValidationSummary(true)

            @using (Html.BeginForm("NewHall", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <h3>@HallsLabels.NewHall</h3>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(x => x.Name, HallsLabels.HallName, new { @class = "control-label col-md-4" })
                    <div class="col-md-24">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>

                <div class="form-group">
                        @Html.LabelFor(x => x.Color, HallsLabels.Color, new { @class = "control-label col-md-4" })
                        <div class="col-md-24">
                            @* TODO: fix this input! *@
                            <div id="color-picker-container" class="input-group colorpicker-component">
                                @Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
                                <span class="input-group-addon"><i></i></span>
                            </div>
                            @Html.ValidationMessageFor(x => x.Color)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.GoogleCalendarContent, HallsLabels.GoogleCalendar, new { @class = "control-label col-md-4" })
                    <div class="col-md-24">
                        @Html.TextAreaFor(x => x.GoogleCalendarContent, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="reset" value="@ButtonLabels.Clear" class="btn btn-default" />
                        <input type="submit" value="@ButtonLabels.Submit" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section scripts {
    <script>
        $(function() {
            $('#color-picker-container').colorpicker({
                format: 'hex',
                horizontal: true
            });
        });
    </script>
}