@using NbuReservationSystem.Web.App_GlobalResources.Labels
@{
    ViewBag.Title = NavBarLabels.About;
}

<div class="container">
    <div class="About-container">
        <div class="col-md-14">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#about-us" data-toggle="tab">@Resources.AboutContent.TitleAboutUs</a></li>
                <li><a href="#about-project" data-toggle="tab">@Resources.AboutContent.TitleAboutProject</a></li>
            </ul>
            <div id="about-txt" class="tab-content text-justify">
                <div class="tab-pane active" id="about-us">
                    <p>@Resources.AboutContent.AboutUs</p>
                    <ul>
                        <li>@Resources.AboutContent.AboutUsVenetsiya</li>
                        <li>@Resources.AboutContent.AboutUsViktor</li>
                        <li>@Resources.AboutContent.AboutUsTsvetan</li>
                        <li>@Resources.AboutContent.AboutusBottom</li>
                        <li>@Resources.AboutContent.AboutUsKiril</li>
                        <li>@Resources.AboutContent.AboutUsNikolay</li>
                    </ul>
                </div>
                <div class="tab-pane" id="about-project">
                    <p>@Resources.AboutContent.AboutProject</p>
                    <p>@Resources.AboutContent.AboutProject1 </p>
                    <p>@Resources.AboutContent.AboutProject2 </p>
                    <p>@Resources.AboutContent.AboutProject3 </p>
                </div>
            </div>
            <p>
                @* TODO fix link, Localization *@
                @Resources.AboutContent.AdminTxt @Html.ActionLink(Resources.AboutContent.AdminLink, "Index", "Admin")@(".")
            </p>
        </div>
        <div class="col-md-14 hidden-sm">
            <img id="about-img" src="~/Content/Images/about.jpg" alt="about image" class="img-responsive">
        </div>
    </div>
</div>
