@using NbuReservationSystem.Web.App_GlobalResources.Home
@using NbuReservationSystem.Web.App_GlobalResources.Labels
@{
    ViewBag.Title = NavBarLabels.About;
}

<div class="container">
    <div class="About-container">
        <div class="col-md-14">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#about-us" data-toggle="tab">@AboutContent.TitleAboutUs</a></li>
                <li><a href="#about-project" data-toggle="tab">@AboutContent.TitleAboutProject</a></li>
            </ul>
            <div id="about-txt" class="tab-content text-justify">
                <div class="tab-pane active" id="about-us">
                    <p>@AboutContent.AboutUs</p>
                    <ul>
                        <li>@AboutContent.AboutUsVenetsiya</li>
                        <li>@AboutContent.AboutUsViktor</li>
                        <li>@AboutContent.AboutUsTsvetan</li>
                        <li>@AboutContent.AboutusBottom</li>
                        <li>@AboutContent.AboutUsKiril</li>
                        <li>@AboutContent.AboutUsNikolay</li>
                    </ul>
                </div>
                <div class="tab-pane" id="about-project">
                    <p>@AboutContent.AboutProject</p>
                    <p>@AboutContent.AboutProject1 </p>
                    <p>@AboutContent.AboutProject2 </p>
                    <p>@AboutContent.AboutProject3 </p>
                </div>
            </div>
            <p>
                @* TODO fix link, Localization *@
                @AboutContent.AdminTxt @Html.ActionLink(AboutContent.AdminLink, "Index", "Admin")@(".")
            </p>
        </div>
        <div class="col-md-14 hidden-sm">
            <img id="about-img" src="~/Content/Images/about.jpg" alt="about image" class="img-responsive">
        </div>
    </div>
</div>
