@using NbuReservationSystem.Web.App_GlobalResources.Labels
@using NbuReservationSystem.Web.Extensions
@model NbuReservationSystem.Web.Models.Responses.Reservations.MonthlyReservationsViewModel

<div class="row">
    <div class="col-md-9">
        <h1>
            <a data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-update="#calendar-wrapper"
               href="@Url.Action("Calendar", "Reservations", Html.CreatePreviousMonthRoutValues(Model))"
               class="no-link-underline"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
            <a data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-update="#calendar-wrapper"
               href="@Url.Action("Calendar", "Reservations", Html.CreateNextMonthRoutValues(Model))"
               class="no-link-underline"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>

            @Html.FormatLocalizedMonth(Model)
        </h1>
    </div>
    <div class="col-md-offset-4 col-md-5">
        <h2>@Model.Hall</h2>
    </div>
    <div class="col-md-3 pull-right">
        <h2>
            <a class="btn btn-default pull-right" href="@Url.Action("New", "Reservations", null, Request.Url.Scheme)" role="button">
                @ReservationLabels.NewReservation
            </a>
        </h2>
    </div>
</div>
