@using NbuReservationSystem.Web.Extensions
@model NbuReservationSystem.Web.ViewModels.Reservations.MonthlyReservationsViewModel

<div class="row">
    <div class="col-md-28">
        <h1>
            <a data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-update="#calendar-wrapper"
               href="@Url.Action("ByMonth", "Reservations", Html.CreatePreviousMonthRoutValues(Model))"
               class="no-link-underline"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
            @*<a href="@Url.Action("ByMonth", "Reservations", Html.CreatePreviousMonthRoutValues(Model))" class="btn btn-default">
                &nbsp;
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>*@
            @*<a href="@Url.Action("ByMonth", "Reservations", Html.CreateNextMonthRoutValues(Model))" class="btn btn-default">
                &nbsp;
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>*@
            <a data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-update="#calendar-wrapper"
               href="@Url.Action("ByMonth", "Reservations", Html.CreateNextMonthRoutValues(Model))"
               class="no-link-underline"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>

            @Html.FormatLocalizedMonth(Model)
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-28">
        @*TODO: halls dropdown!*@
        <h2>Зала в библитеката</h2>
    </div>
</div>
